<a href="https://colab.research.google.com/github/ishaniguha/ishaniguha.github.io/blob/master/P3_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input('Name: ')
print('Hello ' + name + '!')
'Hello ' + name #variables, strings dont work without "print"
#Data Types
#int (integer) and float (floating point number)
2 + 4 #works even without "print"
print(2 + 4)
print(2 - 4)
print(2 / 4)
print(2 * 4)
print(type(2 + 4))
print(type(2 - 4))
print(type(2 / 4))
print(type(2 // 4)) #'double slash' divident
print(type(2 % 4)) #'modulo' remainder

#Functions are ACTIONS that we can perform on Data Types

#math functions; Google them to find them!
print(round(3.14)) #works without print
print(abs(-3.14))

Name: Aydin
Hello Aydin!
6
-2
0.5
8
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
3
3.14

In [ ]:
#operator precedence
#()
#**
#* /
#+ -

#Exercises
print((5 + 4) * 10 / 2) #45.0

print(((5 + 4) * 10) / 2) #45.0

print((5 + 4) * (10 / 2)) #45.0

print(5 + (4 * 10) / 2) #25.0

print(5 + 4 * 10 // 2) #25

45.0
45.0
45.0
25.0
25
0b11000

In [ ]:
#int str base

print(bin(24))

str1 = '0b11000' #str1 can't be converted to an integer of base other than 2, because of the "0b" prefix, which indicates a binary number in Python. 

day = int(str1, 2)
print(day)

str2 = '11000'
date = int(str2, 2)
print(date)
date_of_birth = int(str2, 4)
print(date_of_birth)

0b11000
24
24
320

In [ ]:
#augmented assignment operator
basic = 24
basic += 26 #basic = basic + 26
print(basic)

subtraction = 19
subtraction -= 24 #subtraction = subtraction - 24
print(subtraction)

multiplication = 19 
multiplication *= 5 #multiplication = multiplication * 5
print(multiplication)

50
-5
95

In [3]:
#strings: Data Type = str
house_number = '687A'
street_name = 'Block A'
town_name = 'Lake Town'
city_name = 'Kolkata'
pin_code = '700089'
address = house_number + ', ' + street_name + ', ' + town_name + ', ' + city_name + ', ' + pin_code
print(address)

#Address with input function
house_number = input('House number = ')
street_name = input('Street name = ')
town_name = input('Town = ')
city_name = input('City = ')
pin_code = input('Pincode = ')
address = house_number + ', ' + street_name + ', ' + town_name + ', ' + city_name + ', ' + pin_code
print('Address for Correspondence: ' + address)

687A, Block A, Lake Town, Kolkata, 700089
House number = 687A
Street name = Block - A
Town = Lake Town
City = Kolkata
Pincode = 700089
Address for Correspondence: 687A, Block - A, Lake Town, Kolkata, 700089